@import "border-layout.less";
@import "split-layout.less";
@import "color-layouts.less";


.layout.main {
    min-width: 600px;
    min-height: 400px;
    
    .border-layout-top(107px + 55px);

    > .top {
        > .banner {
            height: 107px;
            position: relative;
            .border-layout-right(300px);
        }
        > .toolbar {
            height: 55px;
            position: relative;
            .border-layout-left(209px);
            .border-layout-right(300px);
        }
    }

    > .center {
        .border-layout-left(209px);
        > .center {
            .split-layout(40%);
            @media (max-width: 1200px) {
                .split-layout(400px);
            }
            @media (max-width: 1000px) {
                .split-layout(200px, vertical);
            }
        }
    }
}

// Color 
@baseColor: #333;

.layout.main {
    > .top {
        > .banner {
            .color-layout-parts(lighten(@baseColor, 0%), 3);
        }
        > .toolbar {
            .color-layout-parts(lighten(@baseColor, 20%), 3);
        }
    }

    > .center {
        .color-layout-parts(lighten(@baseColor, 10%), 3);
        > .center {
            .color-layout-parts(lighten(@baseColor, 30%), 3);
        }
    }
}
