@import 'border-layout.less';

.color-layout-parts(@color) {
    > .layout.top {
        background-color: lighten(@color, 0%); 
    }
    > .layout.left {
        background-color: lighten(@color, 3%); 
    }
    > .layout.right {
        background-color: lighten(@color, 3%);
    }
    > .layout.bottom {
        background-color: lighten(@color, 0%);
    }
    > .layout.center {
        background-color: lighten(@color, 6%);
    }
}

@baseColor: gray;

.main-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    min-width: 600px;
    min-height: 400px;
    
    .border-layout-top(107px + 55px);

    > .top {
        > .banner {
            height: 107px;
            position: relative;
            .color-layout-parts(lighten(@baseColor, 0%));
            .border-layout-right(300px);
        }
        > .toolbar {
            height: 55px;
            position: relative;
            .color-layout-parts(lighten(@baseColor, 20%));
            .border-layout-left(209px);
            .border-layout-right(300px);
        }
    }

    > .center {
        .color-layout-parts(lighten(@baseColor, 10%));
        .border-layout-left(209px);
        > .center {
            .color-layout-parts(lighten(@baseColor, 30%));
            .border-layout-left(40%);

            > .left {
                .color-layout-parts(lighten(@baseColor, 40%));
                .border-layout-top(55px);
            }
            > .center {
                .color-layout-parts(lighten(@baseColor, 45%));
                .border-layout-top(55px);
                border-left: thin solid lighten(@baseColor, 20%);
            }
        }
    }
}
